<div style="display: flex; justify-content: center; align-items: center; ">
  
  <a class="button" href="/recommendation"><h1 class="button-text">推薦方法</h1></a></a>
  
</div>

<style>
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 50%;
  background-color:none;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 3px solid black;
  width: 300px;
  height: 300px;
}

.button:hover {
  background-color: #ff8a1e;
}

.button-text {
  display: block;
  color: black;
}
</style>
